@charset "UTF-8";
/*
==================================================================================
Global rules
==================================================================================
*/
html {
     margin: 2%;
}
body {
     margin: auto;                    /* Centrera sidan */
     max-width: 860px;
     font-family: "Helvetica Neue",
                  "Liberattion sans", Calibri, Arial, sans-serif;
     font-size: 100%;                 /* Startvärde */
}
/*
section, header, footer { 
     outline: 1px solid red;
}
*/

/*
==================================================================================
Rules for reusable components
==================================================================================
*/

/* dborder ska vara här - avsnitt 11.7 */

/*
==================================================================================
Page header, all pages
==================================================================================
*/
header {
     text-align: center;
}
.startpage h1 {
     font-size: 500%;          /* Massiv rubrik på startsidan */
}
h1 {
     font-family: 'Merienda One', cursive;

}
.tagline {
     font-size: 120%;
     padding: 0,5em;         /* Avstånd till kantlinje */
     border-top: 3px double #00AF64;
     border-bottom: 3px double #00AF64;
     margin: 1em 0;         /* Avstånd nedåt men inte uppåt */
}
.menu > h2 {
     margin: 0 0 1em;
     padding: 2em 0;
     background-color: #F5F5F5;  /* Mycket ljus grå */
     text-align: center;
     box-shadow: inset 0 0 20px #007241;
     border-radius: 50%;
     font-family: 'Merienda One', cursive;

}
footer {
     margin-top: 3em;
     text-align: center;
     color: #999;
}
.startpage {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.startpage header,
.startpage footer {
     flex: 0 0 100%;
}
.startpage section {
     flex: 0 0 22%;
}
.menu a:Link,
.menu a:visited {
     text-decoration: none;
     color: #000;
}
.menu a:focus,
.menu a:hover {
     text-decoration: underline;
     color: #FF4900;
}
.menu a:active {
     text-decoration: underline;
     color: #FF4900;
}
h1::first-letter {
    color: #00AF64
}
.startpage .Logo {
    width: 235px;
    height: 198px;
}
.hwrap {
    display: flex;          /* Gör divven till en flex container    */
    flex-wrap: wrap;        /* Radbryt om det behövs                */
    align-items: center;    /* Lägg elementen centrerat vertikalt   */
    justify-content: center;/* Och intill varandra centrerat        */
}
.hwrap > a {
    margin-right: 30px;
}
/* Regler med klassen .startpage, avsnitt 5.2, 5.3 och 5.8 */

/*
==================================================================================
Subpages
==================================================================================
*/

/* TODO Avsnitt 11.4.1, 11.6,  */

/*
==================================================================================
Tables
==================================================================================
*/

/* TODO Avsnitt 12.3 */

/*
==================================================================================
Nivo Slider
==================================================================================
*/

/* TODO Avsnitt 14.7.4 */

/*
==================================================================================
Forms (contact page)
==================================================================================
*/

/* TODO Avsnitt 13.8.2 */

/*
==================================================================================
Blog page, show and edit
==================================================================================
*/

/* Detta kommer i boken Webbserverprogrammering 1 */

/*
==================================================================================
Adaptive design
==================================================================================
*/
.tagline button {
    /* display: none; */ /* Aktivera */
}
@media (max-width: 750px) {
    .hwrap > a {
        margin-right: 25px;
    }
    /* Lägg till regler enligt kapitel 15 */
}

/* TODO Avsnitt 15.4.2 + arbetsboken */

